.vscode/**
typings/**
out/test/**
test/**
src/**
images/**
**/*.map
.gitignore
.github/**
tsconfig.json
vsc-extension-quickstart.md
undefined/**
CONTRIBUTING.md
.vscode-test/**
**/**.vsix
**/**.tar.gz
