.vscode/**
typings/**
out/**
test/**
src/**
images/**
**/*.map
.gitignore
.github/**
tsconfig.json
tsconfig.webview.json
tsconfig.base.json
vsc-extension-quickstart.md
undefined/**
CONTRIBUTING.md
.vscode-test/**
**/*.vsix
**/*.tar.gz
webpack.*.json
node_modules
.editorconfig
.travis.yml
gulpfile.js
Jenkinsfile
.eslintrc.json
.eslintignore
webpack.config.js
.DS_Store
.github/**
.gitignore
.tool-versions
.sdkmanrc